# Intro to Python

## Let's go through some data types

### Numbers (Integers & Floats)

In [21]:
9 + 1 #summation

10

In [22]:
3 * 4 #multiplication

12

In [23]:
1/3 #division (results in float)

0.3333333333333333

In [24]:
5 ** 2 #exponent

25

In [25]:
4 % 2 #modulo

0

### Strings

In [26]:
'Hello ShellHacks'

'Hello ShellHacks'

In [27]:
greeting = 'Hello ShellHacks'
question = "How's everyone doing?" #Both '' or "" are fine
print(greeting + '. ' + question) #concatenation

Hello ShellHacks. How's everyone doing?

In [28]:
random_sentence = "This is a random sentece." #random sentence
random_sentence[10:16] #slicing

'random'

In [29]:
"This is not backwards!"[::-1] #3rd argument is interval

'!sdrawkcab ton si sihT'

In [30]:
name = 'Jehf Doe'
cellphone = '123-321-4567'
print("Hello there, I'm {} and my number is {}.".format(name, cellphone)) #string formatting

Hello there, I'm Jehf Doe and my number is 123-321-4567.

### Lists

In [31]:
mylist = [1, 2, 3] #list of elements (behaves like a linked-list)
mylist

[1, 2, 3]

In [32]:
mylist = [1, 2, 3, 'string inside list', [4, 5, 'string inside list inside list']] #nested lists
mylist

[1, 2, 3, 'string inside list', [4, 5, 'string inside list inside list']]

In [33]:
mylist[0] #indexing

1

In [34]:
mylist[4]

[4, 5, 'string inside list inside list']

In [35]:
mylist[4][2] #indexing on the nested elements

'string inside list inside list'

In [41]:
mylist[0] = "New Value"
mylist[3] = True
mylist[4][2] = "Nested list!"

#Values can be mutated
mylist

['New Value', 2, 3, True, [4, 5, 'Nested list!']]

### Dictionaries

In [38]:
mydict = {'key1':'item1','key2':'item2','key3':'item3'} #Python's version of hash tables

In [39]:
mydict['key2']

'item2'

## Comparison Operators

In [40]:
5 < 4

False

In [90]:
3 <= 3

True

In [91]:
4 == 4

True

In [93]:
'cold' == 'hot'

False

In [95]:
(4 == 4) and (1 == 2)

False

In [96]:
(4 == 4) or (1 == 2)

True

## More Stuff!

### Range()

In [42]:
range(5) #creates range object containing n elements starting at 0.

range

In [104]:
list(range(5)) #the range object can be "listed".

[0, 1, 2, 3, 4]

### Loops & List Comprehension

### For Loops

In [48]:
empty_list = []
for item in range(6): #will iterate through each element
    empty_list.append(item**2)
    print("Element added")
print(empty_list)

Element added
Element added
Element added
Element added
Element added
Element added
[0, 1, 4, 9, 16, 25]

### If-Else Loops

In [52]:
x = -5
if x > 0:
    print("x is a positive number")
elif x < 0:
    print("x is negative")
else:
    print("x is 0")

x is negative

### List Comprehension

In [55]:
mylist = [1,2,3, 4, 5]
empty_list = [item**2 for item in mylist]
print(empty_list)

[1, 4, 9, 16, 25]

### Functions, Lambda expressions, the Map function

In [7]:
def times2(var):
    return var*2

In [8]:
times2(2)

4

In [12]:
func = lambda var: var**2

In [13]:
func(5)

25

In [62]:
list(map(func, mylist))

[1, 4, 9, 16, 25]